body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  margin: 0;
}

header {
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
}

.panel {
  background: #111827;
  padding: 15px;
  border-radius: 12px;
  width: 30%;
}

canvas {
  width: 100%;
  border: 1px solid #333;
  margin-top: 10px;
}

#scoreBox {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}
